{{#each articulos}}
<div class="col-3">
  <div class="card" style="width: 200px;">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarModal"
            title="Editar"
            onclick="btnUpdate({{ID}}, '{{NOMBRE}}','{{MARCA}}',{{PRECIO}},'{{UNIDAD}}',{{EXISTENCIA}})"><i
              class="far fa-edit"></i></button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#eliminarModal"
            title="Eliminar" onclick="btnDelete({{ID}})"><i class="far fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
    <img src="img/000000.png" class="card-img-top">
    <div class="card-body">
      <h6 class="card-title">{{NOMBRE}} - {{UNIDAD}}</h5>
        <p class="card-text">{{MARCA}}</p>
        <p class="card-text">${{PRECIO}} MXN</p>
    </div>
  </div>
</div>
{{/each}}